.form-group, .usuario-form-alert {
    max-width: 330px;
    margin: 0 auto;
}

.usuario-form-alert {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.datepicker {
    margin-bottom: 20px;
}